.container
  %h1 Devices management
  %h2 Login
  = form_with(scope: :user, url: 'sessions') do |form|
    %p#alert= alert
    .form_group
      = form.label(:email)
      = form.email_field(:email, { class: 'form-control' })
    .form_group
      = form.label(:password)
      = form.password_field(:password, { class: 'form-control' })
    .actions
      = form.submit('log in', class: 'btn btn-primary')
      %small{ class: 'form-text' }
        = link_to('Create an account', controller: 'users', action: 'index')
